body
{
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    text-align:center;
}

.students-wrapper
{
    width:480px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    background-color: #FFFFFF;
}

.student-box
{
    font-size: 12pt;
    text-align:left;
    margin: 4pt;
}

.student-box span {
    margin: 4pt ;
    padding: 2pt 10pt;
    border-radius: 4pt;
}

